<template name="addPostModal">
  {{#autoForm collection="Events" id="newEventForm"}}
    <div class="modal-body">
      <div class="modal-body">
        {{> afQuickField name='title' placeholder='Come to our first meeting!'}}
        {{> afQuickField name='content' placeholder='We will be introducing officers, and handing out cookies!'}}
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      <button class="btn btn-primary" id="createPost">Create</button>
    </div>
  {{/autoForm}}
</template>

<template name="editPostModal">
  {{#autoForm collection="Events" doc=currentPost id="newEventForm"}}
    <div class="modal-body">
      <div class="modal-body">
        {{> afQuickField name='title' placeholder='Come to our first meeting!'}}
        {{> afQuickField name='content' placeholder='We will be introducing officers, and handing out cookies!'}}
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      <button class="btn btn-primary" id="createPost">Create</button>
    </div>
  {{/autoForm}}
</template>