<template name="homeHeader">
	<h1>Home <small>Check here for news and updates!</small></h1>
	{{#if isAdmin}}
		<a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addPostModal">Add Post</a>
	{{/if}}
</template>

<template name="home">
	{{> contentFor region="pageHeader" template="homeHeader"}}

  {{> homeCarousel}}

  <div class="page-content">
    <div class="list">
    	{{#each posts}}
        {{> postItem}}
    	{{/each}}

    	{{#unless posts.count}}
        <div class="list-item">
      		<div class="list-item-header">
      			<h3>Oops!</h3>
      		</div>
      		<div class="list-item-body">
      			There currently are no posts on the server.
      		</div>
        </div>
    	{{/unless}}

      <div class="list-item">
      	<div class="list-item-header">
      		<h3>Forms</h3>
      	</div>
      	<div class="list-item-body"> 
      		<a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1gQQ7XNi59QL_2F0sEjhjjqIWSEKFsbluEBOw1p7rWrU/edit?usp=sharing" target="_blank">JOOI Membership &amp; Liability Forms</a>
      	</div>
      </div>
    </div>
  </div>
</template>