@import "variables.import.less";

html {
	height: 100%;
}
body {
	min-height: 100%;
	height: 100%;
	background-color: @background-color;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	font-weight: 400;
}
.table > thead > tr > th {
	border-bottom: none;
}
a {
	color: @primary-color;
}
.label-primary {
	background-color: @primary-color;
}
tr.info > th {
	background-color: @muted-color;
}
.alert {
	color: @primary-color;
	background-color: @muted-color;
	border-color: @border-color;
}

// .list, .list-item
.list-item-header {
	border-bottom: 1px solid @gray-color;
}
.list-item-info {
	float: left;
	// width: 80%;
}
.list-item-action {
	float: right;
	position: relative;
	top: 15px;
}
.list-item-body {
	padding: @main-padding 0;
}

.navbar {
	height: @nav-height;
}
.page-header {
	margin: 0;
	padding: (@nav-height + @large-padding) @main-padding @large-padding;
	background-color: @header-color;
}
.page-body {
	padding: @main-padding;
	background-color: @body-color;
}
.page-footer {
	padding: @large-padding @main-padding;
	background-color: @footer-color;
	border-radius: 0 0 @main-radius @main-radius;
	.box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
}

.event-image {
	float: left;
	margin-right: @main-padding;
	width: @event-image-width;
	// height: @event-image-height;

	img {
		width: 100%;
		// max-width: calc(~'@{event-image-width}');
		// max-height: @event-image-height;
	}
}
.event-info {
	display: block;
	margin-left: calc(~'@{event-image-width} + @{main-padding}');
}














