<template name="addPointsModal">
  <div class="modal-body">
    <div class="controls">
      <input type="text" id="js-typeahead" name="search" class="form-control typeahead" placeholder="Type Name Here" data-source="search">
      <button id="js-add-member" class="btn btn-primary">Add Member</button>
    </div>
  </div>
  {{#autoForm collection="Logs" id="addPointsForm" type="method" meteormethod="assignPoints"}}
    <div class="modal-body">
      {{> afQuickField name='members' id='js-members' type='textarea' rows='5'}}
      {{> afQuickField name='points' placeholder='0'}}
      {{> afQuickField name='description' placeholder='Regular Meeting [9/26/2013]'}}
      {{> afQuickField name='isMeeting'}}
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  {{/autoForm}}
</template> 

<template name="addStrikesModal">
  <div class="modal-body">
    <div class="controls">
      <input type="text" id="js-typeahead" name="search" class="form-control typeahead" placeholder="Type Name Here" data-source="search">
      <button id="js-add-member" class="btn btn-primary">Add Member</button>
    </div>
    <div class="form-group">
      <label class="control-label" for="js-strikes">Strikes</label>
      <input type="number" id="js-strikes" class="form-control" placeholder="1">
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    <button class="btn btn-primary" id="js-add-strikes">Add</button>
  </div>
</template>

<template name="showAllEmailsModal">
  <div class="modal-body">
    {{#if members.count}}
      {{#each members}}
        {{formatEmail this._id}},
      {{/each}}
    {{/if}}
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</template>