<!--page for adding points to members for meetings and socials (only officers can add, all can view)-->
<template name="members">
	{{#contentFor "pageHeader"}}
		<h1>Members <small>List of Lynbrook's coolest people</small></h1>
		{{#if isAdmin}}
			<ul class="inline">
				<li><a class="btn btn-primary" href="{{pathFor 'admin'}}"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addPointsModal">Assign Points</a></li>
				<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addStrikesModal">Assign Strikes</a></li>
				<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="showAllEmailsModal">Show Emails</a></li>
			</ul>
		{{/if}}
	{{/contentFor}}

	<div class="page-body">		
		<div class="list">
			{{> pointsLog}}
			
			<div class="list-item">
    		<div class="list-item-header">
					<h3>Points from Past Years</h3>
				</div>
				<div class="list-item-body">
					<a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1gQQ7XNi59QL_2F0sEjhjjqIWSEKFsbluEBOw1p7rWrU/edit?usp=sharing" target="_blank">2013-2014</a>
					<a class="btn btn-primary" href="https://docs.google.com/spreadsheet/ccc?key=0Aof8QQOBP6MCdDRKT0Y3RXVjcnVjdzlPdjdyRUI1ZVE&usp=sharing" target="_blank">2012-2013</a>
				</div>
				<div class="list-item">
					<div class="list-item-header">
						<h3>Members</h3>
					</div>
					<div class="list-item-body">
						{{#if members.count}}
							<table class="table table-hover">
								{{#each members}}
				  				{{> memberItem}}
								{{/each}}
							</table>	
						{{else}}
							No members yet.
						{{/if}}
					</div>
				</div>	
			</div>
		</div>
	</div>
</template>