<template name="memberItem">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Points</th>
      <th>Strikes</th>
      {{#if isAdmin}}
        <th>Email</th>
        
        {{#unless this.isAdmin}}
          <th><button class="btn btn-primary js-promote-user">Make Admin</button></th>
        {{/unless}}

        <th><button class="btn btn-primary js-delete-user">Delete User</button></th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.profile.name}}</td>
      <td>{{this.profile.points}}</td>
      <td>{{this.profile.strikes}}</td>
      {{#if isAdmin}}
        <td>{{this.emails.[0].address}}</td>
      {{/if}}
    </tr>
  </tbody>
</template>