<template name="memberItem">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Points</th>
      <th>Strikes</th>
      {{#if isAdmin}}
        <th>Email</th>
        <th class="dropdown">
          <a data-toggle="dropdown" href="#">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {{#unless this.isAdmin}}
              <li role="presentation" class="js-promote-user">
                <a role="menuitem" tabindex="-1" href="#">Make Admin</a>
              </li>
            {{/unless}}
            <li role="presentation" class="js-delete-user">
              <a role="menuitem" tabindex="-1" href="#">Delete User</a>
            </li>
          </ul>
        </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.profile.name}}</td>
      <td>{{this.profile.points}}</td>
      <td>{{this.profile.strikes}}</td>
      {{#if isAdmin}}
        <td>{{this.emails.[0].address}}</td>
        <td></td>
      {{/if}}
    </tr>
  </tbody>
</template>