<!--page for adding points to members for meetings and socials (only officers can add, all can view)-->
<template name="members">
	{{#contentFor "pageHeader"}}
		<h1>Members <small>List of Lynbrook's coolest people</small></h1>
		{{#if isAdmin}}
			<ul class="inline">
				<li><a class="btn btn-primary" href="{{pathFor 'admin'}}"><i class="icon-arrow-left"></i></a></li>
				<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addPointsModal">Assign Points</a></li>
				<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addStrikesModal">Assign Strikes</a></li>
				<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="showAllEmailsModal">Show Emails</a></li>
			</ul>
		{{/if}}
	{{/contentFor}}
		
	<div class="post-header">
		<h3>Points Log
		{{#if isAdmin}}
			<div class="float-right">
				<button class="btn btn-primary" id="js-clear-log">Clear Log</button>
			</div>
		{{/if}}
		</h3>
	</div>
	<div class="post-content">
		<div class="alert alert-info">
			<ul class="list">
			{{#if logs.count}}
				{{#each logs}}
					<li><strong>{{formatDate createdAt}}</strong> - {{formatName userId}} assigned {{points}} points for "{{description}}" to:
						<p>
						{{#each this.members}}
							{{formatName this}}. 
						{{/each}}
						</p>
					</li>
				{{/each}}
			{{else}}
				<li>No points have been assigned yet.</li>
			{{/if}}
			</ul>
		</div>
	</div>
	<div class="post-header">
		<h3>Points from Past Years</h3>
	</div>
	<div class="post-content">
		<a class="btn" href="https://docs.google.com/spreadsheets/d/1gQQ7XNi59QL_2F0sEjhjjqIWSEKFsbluEBOw1p7rWrU/edit?usp=sharing" target="_blank">2013-2014</a>
		<a class="btn" href="https://docs.google.com/spreadsheet/ccc?key=0Aof8QQOBP6MCdDRKT0Y3RXVjcnVjdzlPdjdyRUI1ZVE&usp=sharing" target="_blank">2012-2013</a>
	</div>
	<div class="post-header">
		<h3>Members</h3>
	</div>

	<ul class="list">
		{{#if members.count}}
			<table class="table member-list">
				{{#each members}}
  				<tbody>
    				<tr class="member-head">
    					<th>Name</th>
    					<th>Points</th>
    					<th>Strikes</th>
    					{{#if isAdmin}}
    						<th>Email</th>
    						<th><button class="btn btn-primary btn-mini delUser float-right">Delete User</button></th>
    					{{/if}}
    				</tr>
  					<tr>
      				<td>{{this.profile.name}}</td>
      				<td>{{this.profile.points}}</td>
      				<td>{{this.profile.strikes}}</td>
      				{{#if isAdmin}}<td>{{this.emails.[0].address}}</td>{{/if}}
	   					</tr>
					</tbody>
				{{/each}}
			</table>	
		{{else}}
			No members yet.
		{{/if}}
	</ul>
</template>