<template name="suggestions">
	{{#contentFor "pageHeader"}}
		<h1>Pending Events <small>Events suggested by members</small></h1>
		<a class="btn btn-primary" href="{{pathFor 'admin'}}"><i class="fa fa-chevron-left"></i></a>
	{{/contentFor}}

	<div class="page-body">
		<div class="list">
		{{#if pending.count}}
			{{#each pending}}
				{{> suggestItem}}
			{{/each}}
		{{else}}
			<div class="list-item">
				<div class="list-item-header">
					<h3>Oops!</h3>
				</div>
				<div class="list-item-body">
					There currently are no suggested events on the server.
				</div>
			</div>
		{{/if}}
		</div>
	</div>
</template>