<template name="addPictureModal">
  {{#autoForm schema="PictureSchema" id="addPictureForm"}}
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label" for="js-create-picture">Picture</label>
        <input type="file" id="js-create-picture">
      </div>
      {{> afQuickField name="featured"}}
      {{> afQuickField name="caption" placeholder="A Polish cart on enormous wheels, drawn by oxen."}}
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
      <button class="btn btn-primary" id="js-create">Add</button>
    </div>
  {{/autoForm}}
</template>

<template name="editPictureModal">
  <div class="modal-body">
    {{> quickForm schema="PictureSchema" id="editPictureForm" doc=currentPicture}}
  </div>
</template>