<template name="pictures">
	{{#contentFor "pageHeader"}}	
		<h1>Manage Pictures <small>at an exhibition</small></h1>
		<ul class="inline">
			<li><a class="btn btn-primary" href="{{pathFor 'admin'}}"><i class="fa fa-chevron-left"></i></a></li>
			<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addPictureModal">Add Picture</a></li>
		</ul>
	{{/contentFor}}

	<div class="page-body">	
		{{#each pictures}}
			<div class="thumbnails">
				<div class="thumbnail well clearfix">
					<div class="thumbnail-image">
						<img class="flexible-image" src="{{url}}"/>
					</div>
					<div class="thumbnail-content">
						<ul class="list">
							<li><strong>Caption: </strong>{{metadata.caption}}</li>
							<li>
								<strong>Featured: </strong>
								{{#if metadata.featured}} 
									Yup.
								{{else}} 
									Nope.
								{{/if}}
							</li>
							<li>
								<a href="#editPictureModal" role="button" class="btn btn-primary js-btn-edit-picture" data-toggle="modal">Edit</a>
								<button class="btn btn-primary deletePicture">Delete</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		{{/each}}

		{{#unless pictures.count}}
			<div class="list">
				<div class="list-item">
					<div class="list-item-body">
					There currently are no pictures on the server.
					</div>
				</div>
			</div>
		{{/unless}}
	</div>
</template>