<template name="picturesHeader">
	<h1>Manage Pictures <small>at an exhibition</small></h1>
	<ul class="inline">
		<li><a class="btn btn-primary" href="{{pathFor 'admin'}}"><i class="fa fa-chevron-left"></i></a></li>
		<li><a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="addPictureModal">Add Picture</a></li>
	</ul>
</template>

<template name="pictures">
	{{> contentFor region="pageHeader" template="picturesHeader"}}

	<div class="page-body">	
		<div class="row">
			{{#each pictures}}
				<div class="picture-container col-xs-6 col-sm-4">
					<div class="picture-body well">
						<a href="#" class="thumbnail">
							<img src="{{url}}"/>
						</a>

						<ul class="list">
							<li class="list-item"><strong>Caption: </strong>{{metadata.caption}}</li>
							<li class="list-item">
								<strong>Featured: </strong>
								{{#if metadata.featured}} 
									Yup.
								{{else}} 
									Nope.
								{{/if}}
							</li>
							<li class="list-item">
								<div class="list-item-body">
									<a href="#" role="button" class="btn btn-primary js-toggle-modal" data-toggle="editPictureModal">Edit</a>
									<button class="btn btn-primary js-delete-picture">Delete</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			{{/each}}
		</div>

		{{#unless pictures.count}}
			<div class="list">
				<div class="list-item">
					<div class="list-item-body">
					There currently are no pictures on the server.
					</div>
				</div>
			</div>
		{{/unless}}
	</div>
</template>