<template name="contact">
	{{> contentFor region="pageHeader" template="contactHeader"}}
		
	<div class="page-body">
		<div class="list">
			<div class="list-item">
				<p>
					<i class="fa fa-envelope fa-5x pull-left fa-border"></i>
					Have any questions or concerns? Feel free to reach us at lhs8octagon@gmail.com! 
					Better yet, post a comment on our 
					<a href="https://www.facebook.com/groups/140021596038905/">
						<i class="fa fa-facebook-square"> facebook page</i>
					</a>
				</p>
			</div>
			<div class="list-item">
				<p>
					If you're coming here simply to let us know you love us and what we do, save yourself some time and hit the button above! <i class="fa fa-smile-o"></i>
				</p>
			</div>
		</div>
	</div>
</template>

<template name="contactHeader">
	<h1>Contact Us <small>We're here for you.</small></h1>
	<ul class="inline">
		<li><button class="btn btn-primary" id="js-like"><i class="icon-thumbs-up"></i> You're awesome! ({{likes}})</button></li>
	</ul>
</template>