<template name="eventsHeader">
	<div class="page-header">
		<h1>Events <small>Come check out our events! <i class="icon-smile"></i></small></h1>
		<ul class="inline">
		{{#if isAdmin}}
			<li><a href="#addEventModal" role="button" class="btn btn-primary" data-toggle="modal">Add Event</a></li>
		{{/if}}
		{{#if currentUser}}
			<li><a href="#suggestEventModal" role="button" class="btn btn-primary" data-toggle="modal">Suggest Event</a></li>
		{{/if}}
		</ul>
	</div>
</template>

<template name="events">
	{{> contentFor region="pageHeader" template="eventsHeader"}}

	<div class="event">
		{{#if eventsList.count}}
			{{#each eventsList}}
				{{> eventItem}}
			{{/each}}
			{{#if moreEvents}}
		    <div id="showMoreEvents" class="center">
		    	<span class="alert alert-info"><i class="icon-refresh icon-spin"></i> Loading more...</span>
		    </div>
			{{/if}}
		{{else}}
			Looks like your lazy officers haven't put up a single event. Wow.
		{{/if}}
	</div>
	
	<div id="addEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
    	<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalLabel">Add New Event</h3>
				</div>
				{{#autoForm collection="Events" id="newEventForm"}}
					<div class="modal-body">
						{{> afQuickField name='info.name'}}
						{{> afQuickField name='info.date' type='datetime-local'}}
						{{> afQuickField name='info.description' rows=5}}
						{{> afQuickField name='info.location'}}
						{{> afQuickField name='info.cost'}}
						{{> afQuickField name='info.slots'}}
						<input type="file" id="js-create-picture">
					</div>
					<div class="modal-footer">
						<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				{{/autoForm}}
			</div>
		</div>
	</div>

	<div id="editEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
    	<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalLabel">Edit Event</h3>
				</div>
				{{#autoForm collection="Events" doc=currentEvent id="editEventForm"}}
					<div class="modal-body">
						{{> afQuickField name='info.name'}}
						{{> afQuickField name='info.date' type='datetime-local'}}
						{{> afQuickField name='info.description' rows='5'}}
						{{> afQuickField name='info.location'}}
						{{> afQuickField name='info.cost'}}
						{{> afQuickField name='info.slots'}}
						<input type="file" id="js-edit-picture">
					</div>
					<div class="modal-footer">
						<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				{{/autoForm}}
			</div>
		</div>
	</div>
		
	<div id="showEmailsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		{{> showEmails}}
	</div>
	
	<div id="suggestEventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
    	<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalLabel">Suggest An Event</h3>
				</div>
				{{#autoForm schema="SuggestSchema" id="suggestEventForm" type="method" meteormethod="suggestEvent"}}
					<div class="modal-body">
						{{> afQuickField name='name'}}
						{{> afQuickField name='date' type='datetime-local'}}
						{{> afQuickField name='description' rows='5'}}
						{{> afQuickField name='location'}}
						{{> afQuickField name='cost'}}
						{{> afQuickField name='contact'}}
					</div>
					<div class="modal-footer">
						<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
						<button type="submit" class="btn btn-primary">Suggest</button>
					</div>
				{{/autoForm}}
			</div>
		</div>
	</div>

	<div id="finalizeEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div id="finalizeMemberList">
			{{> finalizeTemplate}}
		</div>
	</div>

	<div id="addMemberModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modalLabel">Add Member</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="findMember">Member</label>
					<div class="controls">
						<input type="text" id="eventMemberToAdd" placeholder="Type Name Here" data-provide="typeahead" data-source="[{{allNames}}]" data-items="6">
					</div>
					<br><br>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
			<button class="btn btn-primary" id="addEventMember">Add</button>
		</div>
	</div>
</template>

<template name="finalizeTemplate">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalLabel">Finalize Event</h3>
	</div>
	<div class="modal-body">
		<div class="alert">
			Make sure to check that the members shown below match with the members listed under the corresponding event in the event page!
		</div>
		<form class="form-horizontal">
			{{#if memberList}}
				{{#each memberList}}
					<div class="control-group">
						<label class="control-label" for="name">{{this}}</label>
						<div class="controls">
							<div class="input-append">
								<input id="{{memberID}}" type="text" style="width: 62px;" placeholder="Hours?">
								<span class="add-on">
									Carpool?
							    	<input type="checkbox" id="{{memberID}}c">
							    </span>
								<span class="add-on">
									Mic?
							    	<input type="checkbox" id="{{memberID}}m">
							    </span>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				No members have signed up yet!
			{{/if}}
		</form>
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
		{{#if memberList}}
			<button class="btn btn-primary" id="finalizeEvent">Save</button>
		{{else}}
			<button class="btn btn-primary" id="finalizeAnyway">Finalize Anyway</button>
		{{/if}}
	</div>
</template>

<template name="showEmails">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalLabel">Attending Member Emails</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			{{#if presMembers}}
				{{#each getMembers}}
					{{this}}, 
				{{/each}}
			{{else}}
				No members have signed up.
			{{/if}}
		</form>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	</div>
</template>