<template name="addEventModal">
  {{#autoForm collection="Events" id="newEventForm"}}
    <div class="modal-body">
      {{> afQuickField name='info.name'}}
      {{> afQuickField name='info.date' type='datetime-local'}}
      {{> afQuickField name='info.description' rows=5}}
      {{> afQuickField name='info.location'}}
      {{> afQuickField name='info.cost'}}
      {{> afQuickField name='info.slots'}}
      <input type="file" id="js-create-picture">
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  {{/autoForm}}
</template>

<template name="suggestEventModal">
  <div class="modal-body">
    {{> quickForm collection="Suggests" id="suggestEventForm" type="insert"}}
  </div>
</template>

<template name="editEventModal">
  {{#autoForm collection="Events" doc=currentEvent id="editEventForm"}}
    <div class="modal-body">
      {{> afQuickField name='info.name'}}
      {{> afQuickField name='info.date' type='datetime-local'}}
      {{> afQuickField name='info.description' rows='5'}}
      {{> afQuickField name='info.location'}}
      {{> afQuickField name='info.cost'}}
      {{> afQuickField name='info.slots'}}
      <input type="file" id="js-edit-picture">
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  {{/autoForm}}
</template>

<template name="finalizeEventModal">
  <div class="modal-body">
    <form class="form-horizontal">
      {{#if members.length}}
        {{#each members}}
          <div class="control-group">
            <label class="control-label" for="name">{{formatName this}}</label>
            <div class="controls">
              <div class="input-append">
                <input id="js-hours-{{this}}" type="text" placeholder="Hours?">
                <span class="add-on">
                  Carpool? <input type="checkbox" id="js-carpool-{{this}}">
                </span>
                <span class="add-on">
                  Mic? <input type="checkbox" id="js-mic-{{this}}">
                </span>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        No members have signed up yet!
      {{/if}}
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
    <button class="btn btn-primary" id="js-finalize-event">
      {{#if members.length}} 
        Save 
      {{else}} 
        Finalize Anyway 
      {{/if}}
    </button>
  </div>
</template>

<template name="showEmailsModal">
  <div class="modal-body">
    <form class="form-horizontal">
      {{#if members.length}}
        {{#each members}}
          {{formatEmail this}}, 
        {{/each}}
      {{else}}
        No members have signed up yet!
      {{/if}}
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</template>

<template name="addMemberModal">
  <form class="form-horizontal">
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="js-typeahead">Member</label>
        <div class="controls">
          <input type="text" id="js-typeahead" name="search" class="form-control typeahead" placeholder="Type Name Here" data-source="search">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</template>