<template name="nav">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{pathFor 'home'}}">LHS Octagon</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
					<li class="{{#if currentPage 'events'}}active{{/if}}"><a href="{{pathFor 'events'}}">Events</a></li>
					<li class="{{#if currentPage 'members'}}active{{/if}}"><a href="{{pathFor 'members'}}">Members</a></li>
					<li class="{{#if currentPage 'contact'}}active{{/if}}"><a href="{{pathFor 'contact'}}">Contact</a></li>

					{{#if currentUser}}
						{{#if officer}}
							<li class="{{#if currentPage 'admin'}}active{{/if}}"><a href="{{pathFor 'admin'}}">Admin</a></li>
						{{/if}}
							<li class="{{#if currentPage 'profile'}}active{{/if}}"><a href="{{pathFor 'profile'}}">Profile</a></li>
							<p class="form-search navbar-form pull-right">
								<input id="logout" class="btn btn-primary btn-mini" type="submit" value="Log Out">
							</p>
							<span class="navbar-text nav-welcome">Welcome, {{username}}!</span>
					{{/if}}
				</ul>
				{{#unless currentUser}}
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#signUpModal" data-toggle="modal">Sign Up</a></li>
		        <li class="dropdown">
	            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In <span class="caret"></span></a>
	            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;" role="menu">
	            	<form class="nav-form" id="loginForm">
	            		<input id="username" class="input-medium" type="text" placeholder="Username">
									<input id="password" class="input-medium" type="password" placeholder="Password">
									<input class="btn btn-primary btn-mini" type="submit" value="Log In">
									<li><a href="{{pathFor 'recovery'}}">Forgot?</a></li>
								</form>
	            </div>
	          </li>
		      </ul>
	      {{/unless}}
	    </div>
	  </div>
	</nav>

	<div id="signUpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
    	<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalLabel">Sign Up</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="username">Username</label>
							<div class="controls">
								<input id="createUsername" type="text" placeholder="theross">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input id="createName" type="text" placeholder="Bob Ross">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="username">Email</label>
							<div class="controls">
								<input id="createEmail" type="text" placeholder="joy@painting.com">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input id="createPassword" type="password" placeholder="Password">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">Repeat</label>
							<div class="controls">
								<input id="repeatPassword" type="password" placeholder="Password">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" id="create">Create</button>
					<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
				</div>
			</div>
		</div>
	</div>
</template>