<template name="nav">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{{pathFor 'home'}}"><i class="icon-home"></i> LHS Octagon</a>
				<ul class="nav">
					<li class="{{#if onPage 'events'}}active{{/if}}"><a href="{{pathFor 'events'}}">Events</a></li>
					<li class="{{#if onPage 'members'}}active{{/if}}"><a href="{{pathFor 'members'}}">Members</a></li>
					<li class="{{#if onPage 'contact'}}active{{/if}}"><a href="{{pathFor 'contact'}}">Contact</a></li>
				
					{{#if currentUser}}
						{{#if officer}}
							<li class="{{#if onPage 'admin'}}active{{/if}}"><a href="{{pathFor 'admin'}}">Admin</a></li>
						{{/if}}
							<li class="{{#if onPage 'profile'}}active{{/if}}"><a href="{{pathFor 'profile'}}">Profile</a></li>
							<p class="form-search navbar-form pull-right">
								<input id="logout" class="btn btn-primary btn-mini" type="submit" value="Log Out">
							</p>
							<span class="navbar-text nav-welcome">Welcome, {{username}}!</span>
					{{/if}}
				</ul> <!-- close ul tag for the nav -->

					
				{{#unless currentUser}}
					<ul class="nav pull-right">
	          <li><a href="#signUpModal" data-toggle="modal">Sign Up</a></li>
	          <li class="dropdown">
	            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In <i class="icon-caret-down"></i></a>
	            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
	            	<form class="nav-form" id="loginForm">
              		<input id="username" class="input-medium" type="text" placeholder="Username">
									<input id="password" class="input-medium" type="password" placeholder="Password">
									<input class="btn btn-primary btn-mini" type="submit" value="Log In">
									<li><a href="{{pathFor 'recovery'}}">Forgot?</a></li>
								</form>
	            </div>
	          </li>
					</ul>
				{{/unless}}
			</div>
		</div>
	</div>
	<div id="signUpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modalLabel">Sign Up</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="username">Username</label>
					<div class="controls">
						<input id="createUsername" type="text" placeholder="theross">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input id="createName" type="text" placeholder="Bob Ross">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="username">Email</label>
					<div class="controls">
						<input id="createEmail" type="text" placeholder="joy@painting.com">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input id="createPassword" type="password" placeholder="Password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Repeat</label>
					<div class="controls">
						<input id="repeatPassword" type="password" placeholder="Password">
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" id="create">Create</button>
			<a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
		</div>
	</div>
</template>