<template name="recovery">
	{{#contentFor "pageHeader"}}
		<h1>Recover Password</h1>
	{{/contentFor}}

	<div class="page-body">
		{{#if resetPassword}}
			<form id="js-change-pass" role="form">
				<div class="form-group">
			    <label class="control-label" for="js-password">New Password</label>
		      <input type="password" class="form-control" id="js-password" placeholder="Password">
			  </div>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox"> I won't lose it again!
		      </label>
			  </div>
			  <button type="submit" class="btn btn-primary">Change Password!</button>
			</form>
		{{else}}
			<form id="js-recover-pass" role="form">
				<div class="form-group">
					<label class="control-label" for="js-email">Recovery Email</label>
					<input type="text" class="form-control" id="js-email" placeholder="Email">
				</div>
				<button type="submit" class="btn btn-primary">Recover Password!</button>
			</form>
		{{/if}}
	</div>
</template>